body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url(images.jpg);
  background-size: 100% 100%;
  
  opacity: 0.8;
   
}
.myAppHeader{

font-size: 500%;
font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
color: white;
font-weight: normal;
font-style: normal;
text-align: center;
margin-top: 0px;
background-color: blue;
padding-top: 5px;
word-wrap: break-word;
opacity: 0.7;
border-radius: 14px;
text-shadow: 7px 7px 7px black;

}
.myTitle{
  
font-size: 200%;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color:  burlywood;
text-align: center;
margin-top: 0px;
padding-top: -5px;
border-radius: 14px;
}

